<header>
   <nav id="global-nav">
      <div id="nav-logo">
         <img src="/public/logo_nav.png" alt="" />
         <p>Barricade</p>
         <small>Lawn and Landscape, LLC</small>
      </div>
      <ul id="nav-links">
         <li class="mobile-only"><button class="btn small theme" id="close-mobile-nav" type="button" onclick="closeMobileNav()">Close Menu</button></li>
         <li><a href="#why-us">Why Us</a></li>
         <li><a href="#services">Services</a></li>
         <li><a href="#photos">Photos</a></li>
         <li><a href="#quote">Get a Quote</a></li>
      </ul>
      <button class="btn small theme mobile-only" type="button" onclick="openMobileNav()">Menu</button>
   </nav>
   <section id="page-hero">
      <div class="text-container text-center">
         <h1 class="text-small-heading" id="bright-heading">Barricade Lawn and Landscape, LLC</h1>
         <h2 class="text-page-heading">Tailoring your Lawn and Landscape to our Unique and Diverse Ecosystem</h2>
         <p class="text-lg">Proudly family owned and operated, passing on our curiosity, dedication and hard work from one generation to the next.</p>
         <div class="btn-container">
            <a href="#quote" class="btn">Contact Us</a>
            <a href="#why-us" class="btn outline">Learn More</a>
         </div>
      </div>
   </section>
</header>
<main>
   <section id="why-us">
      <div class="text-container text-center">
         <h2 class="text-small-heading">Why Us?</h2>
         <p class="text-section-heading">Providing Friendly and Exceptional Service</p>
         <div class="btn-container">
            <a href="https://www.instagram.com/barricadelawnandlandscape/" target="_blank" title="See us on Instagram" class="btn" id="instagram">
               <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <defs>
                     <style>
                        .cls-1 { fill: #fff; }
                     </style>
                  </defs>
                  <path
                     class="cls-1"
                     d="M295.42,6c-53.2,2.51-89.53,11-121.29,23.48-32.87,12.81-60.73,30-88.45,57.82S40.89,143,28.17,175.92c-12.31,31.83-20.65,68.19-23,121.42S2.3,367.68,2.56,503.46,3.42,656.26,6,709.6c2.54,53.19,11,89.51,23.48,121.28,12.83,32.87,30,60.72,57.83,88.45S143,964.09,176,976.83c31.8,12.29,68.17,20.67,121.39,23s70.35,2.87,206.09,2.61,152.83-.86,206.16-3.39S799.1,988,830.88,975.58c32.87-12.86,60.74-30,88.45-57.84S964.1,862,976.81,829.06c12.32-31.8,20.69-68.17,23-121.35,2.33-53.37,2.88-70.41,2.62-206.17s-.87-152.78-3.4-206.1-11-89.53-23.47-121.32c-12.85-32.87-30-60.7-57.82-88.45S862,40.87,829.07,28.19c-31.82-12.31-68.17-20.7-121.39-23S637.33,2.3,501.54,2.56,348.75,3.4,295.42,6m5.84,903.88c-48.75-2.12-75.22-10.22-92.86-17-23.36-9-40-19.88-57.58-37.29s-28.38-34.11-37.5-57.42c-6.85-17.64-15.1-44.08-17.38-92.83-2.48-52.69-3-68.51-3.29-202s.22-149.29,2.53-202c2.08-48.71,10.23-75.21,17-92.84,9-23.39,19.84-40,37.29-57.57s34.1-28.39,57.43-37.51c17.62-6.88,44.06-15.06,92.79-17.38,52.73-2.5,68.53-3,202-3.29s149.31.21,202.06,2.53c48.71,2.12,75.22,10.19,92.83,17,23.37,9,40,19.81,57.57,37.29s28.4,34.07,37.52,57.45c6.89,17.57,15.07,44,17.37,92.76,2.51,52.73,3.08,68.54,3.32,202s-.23,149.31-2.54,202c-2.13,48.75-10.21,75.23-17,92.89-9,23.35-19.85,40-37.31,57.56s-34.09,28.38-57.43,37.5c-17.6,6.87-44.07,15.07-92.76,17.39-52.73,2.48-68.53,3-202.05,3.29s-149.27-.25-202-2.53m407.6-674.61a60,60,0,1,0,59.88-60.1,60,60,0,0,0-59.88,60.1M245.77,503c.28,141.8,115.44,256.49,257.21,256.22S759.52,643.8,759.25,502,643.79,245.48,502,245.76,245.5,361.22,245.77,503m90.06-.18a166.67,166.67,0,1,1,167,166.34,166.65,166.65,0,0,1-167-166.34"
                     transform="translate(-2.5 -2.5)"
                  />
               </svg>
               Instagram
            </a>
            <a href="https://www.facebook.com/profile.php?id=100082728873351" target="_blank" title="See us on Instagram" class="btn" id="facebook">
               <img src="/public/facebook.png" alt="" />
               Facebook
            </a>
         </div>
      </div>
      <div class="even-card-container">
         <div class="reason-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1.92" y="1.92" width="44.16" height="44.16" rx="22.08" stroke="#FC8C21" stroke-width="3.84" />
               <path d="M13.9199 26.6401L18.9565 31.6767C18.9584 31.6786 18.9614 31.6786 18.9633 31.6767L34.7999 15.8401" stroke="#FC8C21" stroke-width="3.36" stroke-linecap="round" />
            </svg>

            <h3 class="text-card-heading">No Contracts</h3>
            <p>We offer convenient billing options</p>
         </div>
         <div class="reason-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1.92" y="1.92" width="44.16" height="44.16" rx="22.08" stroke="#FC8C21" stroke-width="3.84" />
               <path d="M13.9199 26.6401L18.9565 31.6767C18.9584 31.6786 18.9614 31.6786 18.9633 31.6767L34.7999 15.8401" stroke="#FC8C21" stroke-width="3.36" stroke-linecap="round" />
            </svg>

            <h3 class="text-card-heading">Site Management</h3>
            <p>Taking care of your lawn, landscape and outside maintenance needs</p>
         </div>
         <div class="reason-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1.92" y="1.92" width="44.16" height="44.16" rx="22.08" stroke="#FC8C21" stroke-width="3.84" />
               <path d="M13.9199 26.6401L18.9565 31.6767C18.9584 31.6786 18.9614 31.6786 18.9633 31.6767L34.7999 15.8401" stroke="#FC8C21" stroke-width="3.36" stroke-linecap="round" />
            </svg>

            <h3 class="text-card-heading">Professional</h3>
            <p>Licensed, insured, certified operators with focus on continuing education</p>
         </div>
         <div class="reason-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1.92" y="1.92" width="44.16" height="44.16" rx="22.08" stroke="#FC8C21" stroke-width="3.84" />
               <path d="M13.9199 26.6401L18.9565 31.6767C18.9584 31.6786 18.9614 31.6786 18.9633 31.6767L34.7999 15.8401" stroke="#FC8C21" stroke-width="3.36" stroke-linecap="round" />
            </svg>

            <h3 class="text-card-heading">Branded</h3>
            <p>Uniformed operators with Barricade Lawn & Landscape, LLC branded vehicles</p>
         </div>
      </div>
   </section>
   <section id="services" class="section-theme-background">
      <div class="text-container text-center">
         <h2 class="text-small-heading">Our Services</h2>
         <p class="text-section-heading">Full Service Lawn and Landscape for Residential and Commercial Clientele</p>
         <p class="text-lg">Proudly serving the Largo, Seminole, Indian Rocks and Indian Shores areas.</p>
      </div>
      <div class="card-container">
         <div class="service-card">
            <img src="/images/mowing.jpg/500/889" alt="" loading="lazy" />
            <div class="service-card-content">
               <h3 class="text-card-heading">Weekly Lawn Care</h3>
               <p>Weekly full-service lawn care <em>(biweekly during dry season at Barricade discretion)</em></p>
            </div>
         </div>
         <div class="service-card">
            <img src="/images/landscaping.jpg/600/400" alt="" loading="lazy" />
            <div class="service-card-content">
               <h3 class="text-card-heading">Landscape Maintenance</h3>
               <p>Tailored landscape maintenance</p>
            </div>
         </div>
         <div class="service-card">
            <img src="/images/surface_cleaning.jpg/600/400" alt="" loading="lazy" />
            <div class="service-card-content">
               <h3 class="text-card-heading">Surface Cleaning</h3>
               <p>Driveway, sidewalk, fencing and birdcage</p>
            </div>
         </div>
         <div class="service-card">
            <img src="/images/bed_maintenance.jpg/600/700" alt="" loading="lazy" />
            <div class="service-card-content">
               <h3 class="text-card-heading">Flower Beds</h3>
               <p>Design and refresh hardscape and softscape areas</p>
            </div>
         </div>
      </div>
   </section>
   <section id="photos">
      <div class="text-container text-center">
         <h2 class="text-section-heading">Our Photos</h2>
      </div>
      <div class="image-carousel">
         {{#each images}}
            <img src="/images/carousel/{{this}}" alt="" loading="lazy" />
         {{/each}}
      </div>
      <div class="image-carousel-controls" aria-hidden="true">
         <button id="carousel-left" class="btn theme square" onclick="scrollImagesLeft()" tabindex="-1">
            <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M10.5 1.5L3 9M3 9L10.5 16.5M3 9H21" stroke="white" stroke-width="3" stroke-linecap="round" />
            </svg>
         </button>
         <button id="carousel-right" class="btn theme" onclick="scrollImagesRight()" tabindex="-1">
            See More
            <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M12.5 1.5L20 9M20 9L12.5 16.5M20 9H2" stroke="white" stroke-width="3" stroke-linecap="round" />
            </svg>
         </button>
      </div>
   </section>
   <section id="quote">
      <div class="text-container">
         <h2 class="text-small-heading text-center">Contact Us</h2>
         <p class="text-section-heading text-center">Get a Quote</p>
         <p class="text-lg text-center">Ready to Barricade Your Lawn and Landscape?</p>
         <p class="text-red text-center">* = required</p>
         <div id="thank-you-page">
            <svg width="168" height="150" viewBox="0 0 168 150" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g clip-path="url(#clip0_79_2)">
                  <path
                     d="M165.712 57.363C165.652 57.3631 165.594 57.3447 165.545 57.3105L84.4311 0.847829C84.1842 0.676802 83.8909 0.585403 83.5906 0.585915C83.2902 0.586427 82.9972 0.678825 82.7509 0.850692L2.22157 57.3099C2.15788 57.3546 2.07904 57.3721 2.00241 57.3587C1.92578 57.3452 1.85763 57.3019 1.81296 57.2383C1.76828 57.1746 1.75073 57.0958 1.76418 57.0192C1.77763 56.9426 1.82097 56.8745 1.88467 56.8298L82.4141 0.370593C82.7589 0.130016 83.1691 0.000693494 83.5896 2.78133e-06C84.0101 -0.000687931 84.4207 0.127285 84.7663 0.366728L165.88 56.8293C165.931 56.8649 165.97 56.9161 165.99 56.9751C166.01 57.0342 166.011 57.0982 165.992 57.1577C165.973 57.2173 165.936 57.2693 165.886 57.3062C165.835 57.3432 165.775 57.3631 165.712 57.363Z"
                     fill="#444444"
                  />
                  <path d="M6.82324 59.3644L83.6703 2.43872L161.101 63.4149L87.6298 106.948L47.7416 97.8606L6.82324 59.3644Z" fill="#E6E6E6" />
                  <path
                     d="M51.1084 133.837H13.1441C12.911 133.838 12.6801 133.792 12.4647 133.703C12.2492 133.614 12.0534 133.484 11.8885 133.319C11.7235 133.154 11.5927 132.959 11.5034 132.744C11.4141 132.528 11.3682 132.298 11.3682 132.065C11.3682 131.832 11.4141 131.601 11.5034 131.386C11.5927 131.17 11.7235 130.975 11.8885 130.81C12.0534 130.646 12.2492 130.515 12.4647 130.426C12.6801 130.337 12.911 130.291 13.1441 130.292H51.1084C51.3416 130.291 51.5724 130.337 51.7879 130.426C52.0034 130.515 52.1992 130.646 52.3641 130.81C52.529 130.975 52.6599 131.17 52.7492 131.386C52.8384 131.601 52.8844 131.832 52.8844 132.065C52.8844 132.298 52.8384 132.528 52.7492 132.744C52.6599 132.959 52.529 133.154 52.3641 133.319C52.1992 133.484 52.0034 133.614 51.7879 133.703C51.5724 133.792 51.3416 133.838 51.1084 133.837Z"
                     fill="#075767"
                  />
                  <path
                     d="M26.7649 126.215H13.1441C12.911 126.216 12.6801 126.17 12.4647 126.081C12.2492 125.992 12.0534 125.862 11.8885 125.697C11.7235 125.532 11.5927 125.337 11.5034 125.121C11.4141 124.906 11.3682 124.675 11.3682 124.442C11.3682 124.209 11.4141 123.979 11.5034 123.764C11.5927 123.548 11.7235 123.353 11.8885 123.188C12.0534 123.023 12.2492 122.893 12.4647 122.804C12.6801 122.715 12.911 122.669 13.1441 122.67H26.7649C26.998 122.669 27.2289 122.715 27.4443 122.804C27.6598 122.893 27.8556 123.023 28.0205 123.188C28.1855 123.353 28.3163 123.548 28.4056 123.764C28.4949 123.979 28.5408 124.209 28.5408 124.442C28.5408 124.675 28.4949 124.906 28.4056 125.121C28.3163 125.337 28.1855 125.532 28.0205 125.697C27.8556 125.862 27.6598 125.992 27.4443 126.081C27.2289 126.17 26.998 126.216 26.7649 126.215Z"
                     fill="#075767"
                  />
                  <path
                     d="M84.7508 91.0715C84.4623 91.0718 84.1764 91.0158 83.9093 90.9067L36.5154 71.251V9.72542C36.516 9.18137 36.7325 8.65979 37.1174 8.27508C37.5023 7.89038 38.0241 7.67397 38.5685 7.67334H129.49C130.035 7.67397 130.556 7.89038 130.941 8.27508C131.326 8.65979 131.543 9.18137 131.543 9.72542V71.294L131.454 71.332L85.6178 90.8971C85.3433 91.0124 85.0486 91.0717 84.7508 91.0715Z"
                     fill="white"
                  />
                  <path
                     d="M84.7509 91.2178C84.4432 91.2181 84.1384 91.1585 83.8535 91.0423L36.3688 71.3488V9.72527C36.3694 9.14235 36.6014 8.5835 37.0138 8.17131C37.4262 7.75913 37.9853 7.52727 38.5685 7.52661H129.49C130.073 7.52727 130.633 7.75913 131.045 8.17131C131.457 8.5835 131.689 9.14235 131.69 9.72527V71.3906L85.6755 91.0317C85.3828 91.1548 85.0684 91.218 84.7509 91.2178ZM36.9553 70.9572L84.0772 90.5002C84.5167 90.6784 85.009 90.6755 85.4463 90.492L131.103 71.0035V9.72527C131.103 9.29781 130.933 8.88799 130.63 8.58573C130.328 8.28346 129.918 8.11343 129.49 8.11292H38.5685C38.1408 8.11343 37.7308 8.28346 37.4284 8.58573C37.126 8.88799 36.9559 9.29781 36.9554 9.72527L36.9553 70.9572Z"
                     fill="#444444"
                  />
                  <path
                     d="M165.126 56.7766H165.067L131.397 71.1471L85.3287 90.809C85.1487 90.8847 84.9555 90.9241 84.7602 90.9251C84.5649 90.9261 84.3714 90.8887 84.1906 90.8148L36.662 71.106L2.16449 56.8001L2.11179 56.7766H2.05307C1.50875 56.7772 0.986891 56.9936 0.601996 57.3783C0.217101 57.763 0.00060397 58.2846 0 58.8287V147.948C0.000604745 148.492 0.217102 149.013 0.601996 149.398C0.986891 149.783 1.50875 149.999 2.05307 150H165.126C165.67 149.999 166.192 149.783 166.577 149.398C166.962 149.013 167.178 148.492 167.179 147.948V58.8287C167.178 58.2846 166.962 57.763 166.577 57.3783C166.192 56.9936 165.67 56.7772 165.126 56.7766ZM166.592 147.948C166.592 148.336 166.437 148.709 166.162 148.984C165.888 149.259 165.515 149.413 165.126 149.414H2.05307C1.66419 149.413 1.29127 149.259 1.01629 148.984C0.741303 148.709 0.586748 148.336 0.586592 147.948V58.8287C0.587124 58.4496 0.734226 58.0855 0.997142 57.8123C1.26006 57.5391 1.61844 57.3781 1.99736 57.3629L36.662 71.7392L83.9649 91.3572C84.4769 91.5654 85.0507 91.5622 85.5604 91.3484L131.397 71.7832L165.184 57.3629C165.563 57.3792 165.92 57.5407 166.182 57.8137C166.444 58.0867 166.591 58.4503 166.592 58.8287V147.948Z"
                     fill="#444444"
                  />
                  <path
                     d="M84.2771 73.625C82.5275 73.6283 80.8242 73.0628 79.4243 72.0138L79.3375 71.9486L61.0619 57.9629C60.2155 57.3148 59.5052 56.5063 58.9714 55.5837C58.4376 54.6611 58.0909 53.6425 57.951 52.586C57.811 51.5294 57.8807 50.4557 58.1559 49.4261C58.4312 48.3965 58.9066 47.4311 59.5551 46.5851C60.2036 45.7392 61.0124 45.0291 61.9355 44.4956C62.8585 43.9621 63.8776 43.6155 64.9347 43.4757C65.9917 43.3358 67.0659 43.4054 68.0961 43.6805C69.1262 43.9556 70.092 44.4308 70.9384 45.079L82.7759 54.1515L110.75 17.6869C111.399 16.8412 112.208 16.1314 113.131 15.5982C114.054 15.065 115.073 14.7188 116.131 14.5793C117.188 14.4398 118.262 14.5099 119.292 14.7853C120.322 15.0608 121.288 15.5364 122.134 16.1849L121.96 16.421L122.138 16.1884C123.845 17.4995 124.962 19.4339 125.243 21.567C125.525 23.7001 124.949 25.8578 123.641 27.5667L90.7368 70.4578C89.9758 71.4462 88.9972 72.246 87.8769 72.7953C86.7567 73.3445 85.5249 73.6284 84.2771 73.625Z"
                     fill="#075767"
                  />
               </g>
               <defs>
                  <clipPath id="clip0_79_2">
                     <rect width="167.179" height="150" fill="white" />
                  </clipPath>
               </defs>
            </svg>

            <p class="text-section-heading">Thank You!</p>
            <p class="text-lg text-center">Your quote request has been sent!</p>
            <p class="text-center">Check your inbox for a report of your request. Make sure to check your junk / spam folder if you don't see it soon.</p>
         </div>
         <form action="/submit" method="post">
            <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" />
            <label for="from">
               Name
               <span>*</span>
               <input type="text" name="from" id="from" required />
            </label>
            <label for="email">
               Email
               <span>*</span>
               <input type="email" name="email" id="email" autocomplete="email" required />
            </label>
            <label for="address">
               Address
               <span>*</span>
               <input type="text" name="address" id="address" autocomplete="address-line1" required />
            </label>
            <label for="address2">
               Address Line 2
               <input type="text" name="address2" id="address2" autocomplete="address-line2" />
            </label>
            <div class="input-group">
               <label for="city">
                  City
                  <span>*</span>
                  <input type="text" name="city" id="city" autocomplete="address-level2" required />
               </label>
               <label for="state">
                  State
                  <span>*</span>
                  <select name="state" id="state" autocomplete="address-level1" required>
                     <option value="0" disabled>-- SELECT --</option>
                     <option value="AL">Alabama</option>
                     <option value="AK">Alaska</option>
                     <option value="AZ">Arizona</option>
                     <option value="AR">Arkansas</option>
                     <option value="CA">California</option>
                     <option value="CO">Colorado</option>
                     <option value="CT">Connecticut</option>
                     <option value="DE">Delaware</option>
                     <option value="FL" selected>Florida</option>
                     <option value="GA">Georgia</option>
                     <option value="HI">Hawaii</option>
                     <option value="ID">Idaho</option>
                     <option value="IL">Illinois</option>
                     <option value="IN">Indiana</option>
                     <option value="IA">Iowa</option>
                     <option value="KS">Kansas</option>
                     <option value="KY">Kentucky</option>
                     <option value="LA">Louisiana</option>
                     <option value="ME">Maine</option>
                     <option value="MD">Maryland</option>
                     <option value="MA">Massachusetts</option>
                     <option value="MI">Michigan</option>
                     <option value="MN">Minnesota</option>
                     <option value="MS">Mississippi</option>
                     <option value="MO">Missouri</option>
                     <option value="MT">Montana</option>
                     <option value="NE">Nebraska</option>
                     <option value="NV">Nevada</option>
                     <option value="NH">New Hampshire</option>
                     <option value="NJ">New Jersey</option>
                     <option value="NM">New Mexico</option>
                     <option value="NY">New York</option>
                     <option value="NC">North Carolina</option>
                     <option value="ND">North Dakota</option>
                     <option value="OH">Ohio</option>
                     <option value="OK">Oklahoma</option>
                     <option value="OR">Oregon</option>
                     <option value="PA">Pennsylvania</option>
                     <option value="RI">Rhode Island</option>
                     <option value="SC">South Carolina</option>
                     <option value="SD">South Dakota</option>
                     <option value="TN">Tennessee</option>
                     <option value="TX">Texas</option>
                     <option value="UT">Utah</option>
                     <option value="VE">Vermont</option>
                     <option value="VA">Virginia</option>
                     <option value="WA">Washington</option>
                     <option value="WV">West Virginia</option>
                     <option value="WI">Wisconsin</option>
                     <option value="WY">Wyoming</option>
                  </select>
               </label>
               <label for="zip">
                  ZIP
                  <span>*</span>
                  <input type="number" name="zip" id="zip" required />
               </label>
            </div>
            <label for="residential">
               Type of Property
               <div class="input-group options">
                  <label for="residential" class="radio-label">
                     <input type="radio" name="type" id="residential" value="Residential" checked />
                     Residential
                  </label>
                  <label for="commercial" class="radio-label">
                     Commercial
                     <input type="radio" name="type" id="commercial" value="Commercial" />
                  </label>
                  <label for="both" class="radio-label">
                     Both
                     <input type="radio" name="type" id="both" value="Both" />
                  </label>
               </div>
            </label>
            <label for="phone">
               Phone
               <span>*</span>
               <input type="tel" name="phone" id="phone" autocomplete="tel" required />
            </label>
            <label for="cantext">
               <input type="checkbox" name="cantext" id="cantext" />
               You can text me at this number
            </label>
            <label for="comments">
               Comments
               <textarea name="comments" id="comments"></textarea>
            </label>
            <label for="how">
               How did you hear about us?
               <select name="how" id="how">
                  <option value="social-media">Social Media</option>
                  <option value="referral">Referral</option>
                  <option value="website">Website</option>
                  <option value="other">Other</option>
               </select>
            </label>
            <p id="error-text" class="text-red"></p>
            <button type="submit" class="btn full-width">Get your free quote</button>
         </form>
      </div>
   </section>
   <section id="faqs" class="background">
      <div class="text-container">
         <h2 class="text-section-heading text-center">Frequently Asked Questions</h2>
         {{#each faqList}}
            <details>
               <summary class="text-lg">
                  {{name}}
                  <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M1.75 2.25L10.7429 11.2429C10.7468 11.2468 10.7532 11.2468 10.7571 11.2429L19.75 2.25" stroke="white" stroke-width="3" stroke-linecap="round" />
                  </svg>
               </summary>
               <p>
                  {{acceptedAnswer.text}}
               </p>
            </details>
            <hr />
         {{/each}}
      </div>
   </section>
</main>
<script type="application/ld+json">
   {{{faqSchema}}}
</script>
<footer>
   <div class="text-container">
      <p>Call us at <a href="tel:7273313591">(727) 331-3591</a></p>
      <p>Website by <a href="https://www.linkedin.com/in/isaac-maddox/" target="_blank">Isaac Maddox</a></p>
   </div>
</footer>